/* Styling section for Background Scenery */

body {
    background-image: url(/hoffle-copter/assets/scenery/outer-space.png);
    background-repeat: repeat;
}

/* Drawable element that displays rendered gameplay from Kaboom */
#game_canvas {
    margin: auto;
}